<h3>Here is what you chose!</h3>
<%= render "flights/flight_detail", flight: @flight %>

<%= form_with model: @booking do |form| %>
    <h5>Please fill out each passengers details</h6>
    <%= form.hidden_field :flight, value: @flight.id %>
    <%= form.fields_for :passengers do |passenger_form| %>
        <p>New Passenger</p>
        <div>
            <%= passenger_form.label :name %>
            <%= passenger_form.text_field :name, placeholder: "Your Name" %>
        </div>
        <div>
            <%= passenger_form.label :email %>
            <%= passenger_form.email_field :email %>
        </div>
        <br>
    <% end %>
    <%= form.submit %>
<% end %>