<h3>Here is what you chose!</h3>
<%= render "flights/flight_detail", flight: @flight %>
<%= form_with model: @booking do |form| %>
    <div data-controller="passenger-form" >
        <h5>Please fill out each passengers details</h6>
        <button data-action="click->passenger-form#addPassenger" > Add Passenger </button>
        <%= form.hidden_field :flight, value: @flight.id %>
        <div>
            <%= form.fields_for :passengers do |passenger_form| %>
                <%= render "passenger_form", passenger_form: passenger_form %>
            <% end %>
        </div>

    </div>
    <%= form.submit %>
<% end %>